body {
    font-family: sans-serif;
}
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 15px 5px 15px 5px;
  color: #353839;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
}

h3 {
    font-family: "Verdana";
    color: #353839;
    margin: 15px 25px 15px 27px;
}

h4, h6 {
    font-family: "Helvetica";
    color: DimGray;
}

h5 {
    font-family: "Helvetica";
    color: #353839;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0px 0px 0px;
}

.Select-menu-outer {
    font-family: "Helvetica";
    font-size: 15px;
    font-weight: 500;
}